
  	body{
  		margin:0px;
  		padding: 0px;
  	}
  	.header{
  		position: fixed;
  		z-index: 300;
  		width: 100vw;
  		height: 70px;
  		
  		
  	}
  	.img img{
  		float: left;
  		width: 112px;
  		position: relative;
  		z-index: 1;
  	}
  	.navgation{
  		position: relative;
  		top:-15px;
  		margin-top:35px;
  		width: 100%;
  		height: 30px;
  		
  	}
  	.btn-navegador{
  		margin-left: 40px;
  		background: none;
  		color: #e50914;
  		text-shadow: none;
  		border:0px;
  		box-shadow: none;
  		padding: 5px;
  		font-weight: bold;
  	}
  	.btn-navegador:last-child{
  		margin-left: 10px;
  	}
 dropdown-toggle.btn-default:focus {
  	    color: #e50914;
   		 background-color: none !important;
    	border-color: none !important;
  	}
.default:active {
    background-color:  none !important;
    border-color:  none !important;
}
.dropdown-menu{
	margin-top: 20px;
	width: 100%;
	height: 100px;


}
button{
	outline-color: rgba(0,0,0,0);
}
  .kids{
  	font-weight: 100;
  	color: white;
  }
  .navgador{
  	float: left;
  }
  .right{
  	float: right;
  }
  .profile-name{
  	color: white;
  	font-size: 11px;
  }
  .icon-svg{
  	position: absolute;
  	left: 0;
  	top:-16px;
  	margin-top:15px;
 	margin-left: 8px;
  }
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	color: white;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	
}


input[type=search] {
	color:white;
	background: rgba(100,100,100,0) url(../img/search-icon.png) no-repeat 9px center ;
	border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;
	height: 15px !important;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	
}
input[type=search]:focus {
	color: white;
	width: 160px !important;
	
	background-color: rgba(0,0,0,.7);
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#search input[type=search] {
	width: 12px;
	height: 15px;
	padding-left: 10px;
	color: white;
	cursor: pointer;

}
#search input[type=search]:hover {
	background-color: rgba(0,0,0,.7);
}
#search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: white;
	background-color: rgba(0,0,0,0.7);
	cursor: auto;
}
#search input:-moz-placeholder {
	color: transparent;
}
#search input::-webkit-input-placeholder {
	color: transparent;
}
.search{
	float: left;
}
.content{
	width: 92%;
	float: left;
	margin-left: 4%;
}
.header-img{
	
	min-width: 100%;
	height: 99vh;
	overflow: hidden;
	position: absolute;

}
.header-img img{
	width: 100%;
}
.bg-shadow{
	width: 100%;
	min-width: 100%;
	max-height: 100vh;
	position: absolute;
	z-index: 2;
	background: linear-gradient(to top, rgba(20,20,20,1) 2%, rgba(0,0,0,0) 30%);
}
.right{
	z-index: 5;
}
body , html{
	background:rgba(20,20,20,1);
}
.title-logo{
	
	height: 20%;
	top:-9%;
	
	width: 30%;
	

}
.supplemental{
	margin-top: 1%;
	color: white;
	font-weight: bold;
    margin-bottom: .8vw;
    font-size: 1.6vw;
    font-weight: 700;
    width: 45%;

}
.info{
	position: absolute;
	z-index: 2;
	margin-top: 8%;
}
.sinopse{
	margin-top: 1%;
	font-weight: 100;
}
.btn-watch{
	padding: 7px 25px;
	font-weight: bold;
	background-color: #e50914;
    border: 1px solid #ff0a16;
	color: white;
}
.btn-add{
	border:1px solid rgba(120,120,120,1);
	background: rgba(0,0,0,.5);
	color: white;
	padding: 7px 30px;
	font-weight: bold;
}
.btn-watch:hover{
	background-color: #f50410;

}
.btn-add:hover{
	background: rgba(50,50,50,.4);
}

.navbar-header{
	border:none !important;
	background-color: rgba(0,0,0,0); !important; 
}
.navbar-default {
    background-color: black !important;
    border-color: none !important;
}


/*Caroussel*/

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}
.owl-prev {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  left: 2%;
  cursor: pointer;
  color: transparent !important;
  margin-top: -27px;
}
.owl-next {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  right: 2%;
  cursor: pointer;
  color: transparent !important;
  margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.5;
}

.owl-nav .owl-next {
  right: -30px;
}
/*caroussel*/
.navbar-default {
   background-color: rgba(0,0,0,0) !important; 
    border-color: #e7e7e7;
}
@media screen and (min-width: 751px){
	.shadow-bg-linear{
		position: absolute;
		height: 100%;
		width: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0.1%, rgba(0,0,0,0) 10%);
	}
	.shadow-linear{
		display: none;
	}
	.conteudo{
		position: absolute;
		z-index: 2 !important;
		margin-top:-3% !important;
	}

	.img{
		position: absolute !important;
		left: 0;
		top:-13.5;
		margin-top:35px;
	}
	.right{
		position: absolute;
		right: 0;
		top:-16;
		margin-top: 30px;
	}
	.menu-bg{
		background: rgba(0,0,0,.7);
		transition: all 1s;
	}
	.collapse{
		position: relative;
		display: block;
		margin-left: 100px;
	}
}
@media screen and (max-width: 750px) and (orientation:landscape){
	.conteudo{
		position: absolute;
		margin-top:13% !important;
	}

}
@media screen and ( max-width: 750px){
	.conteudo{
		position: absolute;
		margin-top:17%;
	}

	.btn-watch{
		padding: 5px 15px;
	}
	.btn-add{
		padding: 5px 15px;
	}
	.titulo-mobile{
		font-size: 20px;
		font-weight: bold;
		color: white;
		margin-bottom:5%;
		padding-top: 15%;
	}
	.info{
		display: none;
	}
	.shadow-linear{
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,1) 70%);
	}
	.img-bg{
		position: absolute;
		border-bottom: 2px solid black;
		width: 100%;
	}
	.header-img, .header-img img{
		width: 75%;
		
	}
	.header-img{
		margin-top: 50px  !important;
	}
	#bg-img{
		float: right !important; 
	}
	
	.header-img img{

	}
	.bg-shadow{
		display: none;
	}
	.header-img {
    margin-top: 50px;
}
.title-logo{
	display: none;
}
.supplemental{
	display: none;
}

	.right{
		position: absolute;
		right: 0;
		top:-16;
		margin-top: 25;
	}
	#search input[type=search]:focus {
		width: 90px !important;
	}
	.dropdown-menu{
		right: 0 !important;
		left: unset !important;
	}
	.profile-name{
		display: none;
	}
	.content{
		width: 100%;
		float: left;
		margin:0px;
	}
	.navbar-toggle {
		float: left;
		border:0px;
	}
	.navbar-toggle:hover{
		background: rgba(0,0,0,0) !important;
		background-color:rgba(0,0,0,0) !important;
			}
	.container-fluid{
		background: black !important;
		border:none;
	}
	.icon-bar{
		background-color: white !important;
	}
	.navbar-default {
		float: left;
		width: 100%;
    background-image: none !important;
    background-image: none !important;
   background-image: none !important;
    background-image: none !important;
    filter: none !important;
    filter: none !important;
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}
.img img{
	position: absolute;
	top: 0;
	top:-10.5px;
	margin-top: 24.5px;
	width:87px;
	margin-left: -15px;
}

}
.navbar{
background-color: none;
border:0;
}
.container-fluid{
	background-color: rgba(0,0,0,0);
	border-color: black;
}
.navbar-default {
		float: left;
		width: 100%;
    background-image: none !important;
    background-image: none !important;
   background-image: none !important;
    background-image: none !important;
    filter: none !important;
    filter: none !important;
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}
.navbar-header{
	width: 100%;
	background-color: rgba(0,0,0,0);
}
.classes{
	width: 100%;
}

.itens{
	margin-bottom:30px;
}






/*ITEM*/
@media screen and (min-width: 751px){
.owl-carousel img{
max-width: 188px !important;
float: left;
}

}
/*ITEM*/


.classes , .classes span{
	font-weight: bold;
	color: rgb(255,255,255,.5) !important;
	font-size: 16px;

}


